@font-face {
        font-family: "Droid Arabic Naskh"; 
        src: url("fonts/DroidNaskh-Regular.ttf");
}

@font-face {
        font-family: "Droid Arabic Naskh";
        font-weight: bold;
        src: url("fonts/DroidNaskh-Bold.ttf");
}

body {
        font-family: "Droid Arabic Naskh", Helvetica, Arial, sans-serif; !imtortant
}
body.custom-font-enabled {
        font-family: "Droid Arabic Naskh", Tahoma, "Open Sans", Helvetica, Arial, sans-serif;  !imtortant
}



